<template>
    <div class="main-theme">
        <!-- Filters -->
        <div class="filters card row hidden">
            <div class="col-md-6 m-b-20">
                <label>Pesquisa livre</label>
                <input type="text" class="form-control" placeholder="Busque por nome do grupo, descrição, etc" />
            </div>
            <div class="col-md-6 m-b-20">
                <label>Risco</label>
                <select class="form-control">
                    <option value="" disabled selected>Selecione o risco</option>
                    <option value="1">Alto</option>
                    <option value="2">Médio</option>
                    <option value="3">Baixo</option>
                </select>
            </div>
            <div class="col-md-12 m-b-10 text-right">
                <hr>
                <button class="btn btn-success m-r-15"><i class="fa fa-plus"></i> Criar</button>
                <button class="btn btn-primary"><i class="fa fa-search"></i> Filtrar</button>
            </div>
            
        </div>

        <!-- Create -->
        <div class="filters card row">
            <div class="col-md-12">
                <div class="col-md-3 m-b-20">
                    <label>Nome</label>
                    <input type="text" class="form-control" placeholder="Nome do grupo" />
                </div>
                <div class="col-md-7 m-b-20">
                    <label>Descrição</label>
                    <input type="text" class="form-control" placeholder="Descrição do grupo" />
                </div>
                <div class="col-md-2 m-b-20">
                    <label>Risco</label>
                    <select class="form-control">
                        <option value="" disabled selected>Selecione o risco</option>
                        <option value="1">Alto</option>
                        <option value="2">Médio</option>
                        <option value="3">Baixo</option>
                    </select>
                </div>
                <div class="col-md-12" style="padding: 0!important">
                    <label style="padding: 0 15px!important">Requeridos</label>
                    <div class="row" style="padding: 0!important">
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Descrição" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Fornecedor" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Grupo de contas" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Data de emissão" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Data de vencimento" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Data de pagamento" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Data de quitação" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Pedido de compra" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Nota Fiscal" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Orçamento" disabled>
                            </div>
                        </div>

                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Boleto" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Anexos" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Valor" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Juros" disabled>
                            </div>
                        </div>

                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Multa" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 m-b-20">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" aria-label="...">
                                </span>
                                <input type="text" class="form-control" aria-label="..." placeholder="Adicionais" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr>
                <div class="col-md-6 m-b-20 text-left">
                    <button class="btn btn-default">Cancelar</button>
                </div>

                <div class="col-md-6 m-b-20 text-right">
                    <button class="btn btn-success m-r-15"><i class="fa fa-check"></i> Salvar</button>
                </div>
            </div>
            
        </div>


        <!-- List content -->
        <div class="list-item card row hidden">
            <div class="row">
                <div class="col-md-3">
                    <label><i class="fa fa-object-group"></i> Nome do grupo</label>
                    <div class="value m-l-15">Matéria prima</div>
                </div>
                <div class="col-md-6">
                    <label><i class="fa fa-object-group"></i> Descrição do grupo</label>
                    <div class="value m-l-15">Grupo para contas que se encaixem no perfil de materia prima</div>
                </div>
                <div class="col-md-2">
                    <label><i class="fa fa-exclamation"></i> Risco</label>
                    <div class="value m-l-15"> Alto</div>
                </div>
                <div class="col-md-1 text-right">
                    <button class="btn btn-warning"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <label><i class="fa fa-lock"></i> Requeridos:</label>
                    <div class="value m-l-15">valor, dataEmissao, dataVencimento, dataPagamento, dataBaixa, multa, juros, notaFiscal, idFornecedor</div>
                </div>
                <div class="col-md-1 warning">
                </div>
            </div>
        </div>
        <div class="list-item card row hidden">
            <div class="row">
                <div class="col-md-3">
                    <label><i class="fa fa-object-group"></i> Nome do grupo</label>
                    <div class="value m-l-15">Água e Luz</div>
                </div>
                <div class="col-md-6">
                    <label><i class="fa fa-object-group"></i> Descrição do grupo</label>
                    <div class="value m-l-15">Grupo para contas de água e luz</div>
                </div>
                <div class="col-md-2">
                    <label><i class="fa fa-exclamation"></i> Risco</label>
                    <div class="value m-l-15"> Médio</div>
                </div>
                <div class="col-md-1 text-right">
                    <button class="btn btn-warning"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <label><i class="fa fa-lock"></i> Requeridos:</label>
                    <div class="value m-l-15">valor, dataEmissao, dataVencimento, dataPagamento, dataBaixa, idFornecedor</div>
                </div>
                <div class="col-md-1 warning">
                </div>
            </div>
        </div>
        <div class="list-item card row hidden">
            <div class="row">
                <div class="col-md-3">
                    <label><i class="fa fa-object-group"></i> Nome do grupo</label>
                    <div class="value m-l-15">Matérial escritório</div>
                </div>
                <div class="col-md-6">
                    <label><i class="fa fa-object-group"></i> Descrição do grupo</label>
                    <div class="value m-l-15">Grupo para contas de materiais de escritório</div>
                </div>
                <div class="col-md-2">
                    <label><i class="fa fa-exclamation"></i> Risco</label>
                    <div class="value m-l-15"> baixo</div>
                </div>
                <div class="col-md-1 text-right">
                    <button class="btn btn-warning"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <label><i class="fa fa-lock"></i> Requeridos:</label>
                    <div class="value m-l-15">valor, dataEmissao, dataVencimento, dataPagamento, dataBaixa, notaFiscal, idFornecedor</div>
                </div>
                <div class="col-md-1 warning">
                </div>
            </div>
        </div>
    </div>
</template>