* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Helvetica";
    font-size: 16px;
    overflow: hidden;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.m-l-5 {
    margin-left: 5px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-r-20 {
    margin-right: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.main-header {
    max-height: 50px;
    overflow: hidden;
    width: 100%;
    background-color: #103570;
    position: fixed;
    top: 0px;
    left: 0px;
}
    .main-header .company-info{
        float: left;
        margin: 0px 15px;
        line-height: 50px;
        color: #fff;
        font-weight: bold;
    }
    .main-header .company-info img{
        max-height: 45px;
        padding: 5px 0;
        float: left;
        margin-right: 15px;
    }
    .main-header .user-info{
        background-color: #fff;
        float: right;
        width: 35px;
        height: 35px;
        margin: 7.5px 15px;
        border-radius: 100%;
        text-align: center;
        font-weight: bold;
        line-height: 35px;
    }
.container {
    height: 1000px;
    padding-top: 50px;
    background-color: #f00;
    display: flex;
}
    .main-menu {
        height: 100%;
        background-color: #fff;
        flex: 1 0 100px;
    }
    .main-menu .item{
        cursor: pointer;
        padding: 10px;
        color: #000;
        background-color: #fff;
        border-bottom: 1px solid #aaa;
    }
    .main-menu .item:hover {
        color: #115cd6;
    }
    .main-menu .item.selected{
        color: #115cd6;
        background-color: #eee;
    }
    .main-menu .item-menu:hover {
        color: #000;
    }
        .main-menu .item i{
            width: 15px;
            margin: 0px 15px 0px 5px;
            text-align: center;
        }

    .main-menu .item.item-menu{
        cursor: default;
    }
        .main-menu .item-menu > ul {
            display: none;
            margin-left:5px;
            margin-top: 10px;
        }
        .main-menu .item-menu:hover > ul{
            display: block;
        }
            .main-menu .item-menu > ul li {
                cursor: pointer;
                padding: 10px;
                color: #aaa;
            }
            .main-menu .item-menu > ul li:hover {
                color: #555;
            }
            .main-menu .item-menu > ul .selected {
                color: #115cd6;
                background-color: #eee;
                margin-right: -10px;
            }
    .main-content {
        height: 100%;
        background-color: #eee;
        flex: 5 0 200px;
        display: flex;
        padding: 10px;
    }