<template>
	<div class="dashboard">
	    <div class="top">
	        <div class="card danger">
	            <div class="label">Contas vencidas</div>
	            <div class="value">2</div>
	        </div>
	        <div class="card warning">
	            <div class="label">Contas a pagar</div>
	            <div class="value">10</div>
	        </div>
	        <div class="card success">
	            <div class="label">Contas pagas</div>
	            <div class="value">15</div>
	        </div>
	    </div>
	    <div class="content">
	        <div class="card">
	            <div class="value"><i class="fa fa-handshake-o"></i></div>
	            <div class="label">Renegociação</div>
	            <div class="description">Renegocie com o fornecedor</div>
	        </div>
	        <div class="card">
	            <div class="value"><i class="fa fa-calculator"></i></div>
	            <div class="label">Simulação</div>
	            <div class="description">Crie cenários de pagamentos</div>
	        </div>
	        <div class="card">
	            <div class="value"><i class="fa fa-list-alt"></i></div>
	            <div class="label">Contas</div>
	            <div class="description">Gerencie e consulte as contas cadastradas</div>
	        </div>
	        <div class="card">
	            <div class="value"><i class="fa fa-object-group"></i></div>
	            <div class="label">Grupo de contas</div>
	            <div class="description">Classifique as contas com grupos personalizados</div>
	        </div>
	        <div class="card">
	            <div class="value"><i class="fa fa-truck"></i></div>
	            <div class="label">Fornecedores</div>
	            <div class="description">Tenha os fornecedores a mão</div>
	        </div>
	        <div class="card">
	            <div class="value"><i class="fa fa-exclamation"></i></div>
	            <div class="label">Tipos de riscos</div>
	            <div class="description">Crie tipos de riscos personalizados</div>
	        </div>
	        <div class="card">
	            <div class="value"><i class="fa fa-bar-chart"></i></div>
	            <div class="label">Relatórios</div>
	            <div class="description">Acompanhe todo o setor de forma fácil</div>
	        </div>
	    </div>
	</div>
</template>